PORT=5000
MONGO_URI=mongodb://vinothdurai137_db_user:<db_password>@ac-flx0qgo-shard-00-00.qlwdm87.mongodb.net:27017,ac-flx0qgo-shard-00-01.qlwdm87.mongodb.net:27017,ac-flx0qgo-shard-00-02.qlwdm87.mongodb.net:27017/?ssl=true&replicaSet=atlas-2dsd5o-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=e5fe6dae30c1250e9166c3c61edc2039561b3f035e092caf165a9c655738112ccc4970e09033a93c6282eb3f06fed2bd7830795ac8b24d9c7c1cfef320721f3ec

JWT_EXPIRES_IN=1d

# Default admin (auto-created on first start if no admin exists)
ADMIN_NAME=Super Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin@123
